/* fincon_dashboard_header */

@media (min-width: 700px) {
   .fincon_dashboard_header {
      display: flex;
      justify-content: space-between;
      max-width: 700px;
   }

   .unpaidinvoice_card_white {
      background: #fff;
      box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.27);
      -webkit-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.27);
   }

   .view_all_invoice {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5em;
   }
   .fincon_invoice_decision_btns {
      display: flex;
      justify-content: space-between;
      max-width: 500px;
   }

   .fincon_invoice_nav_links a {
      color: #002564;
   }
   .fincon_invoice_nav_links {
      display: flex;
      justify-content: space-between;
      max-width: 700px;
      padding: 0 1.5em;
   }

   .box_buttons {
      display: flex;
      justify-content: center;
   }

   .reject_modal_decision_btn {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 300px;
   }
}
