.register {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 500px;
   width: 100%;
   background-color: #ffffff;
   border-radius: 0.5em;
}
.createadmin {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1em auto;
   padding: 0 1em;
   width: 100%;
}

.company_logo {
   display: flex;
   margin: 1.2em auto;
}

.header_text {
   color: #002564;
   font-size: 0.5rem;
   text-align: center;
}

.header_text_bold {
   font-weight: 800;
}
.header_text_thin {
   font-weight: 400;
}

.register_form {
   display: flex;
   flex-direction: column;
   max-width: 400px;
   width: 100%;
   font-size: 0.5rem;
}

.form_group {
   padding: 0;
}

.form_group h2 {
   margin-bottom: -0.5em;
}

.MuiInputBase-root .MuiSelect-select {
   padding: 9.5px 14px;
}
.dummydiv {
   margin-bottom: 1em;
}

.success_icon {
   margin: 1.5em auto;
}

.success_text {
   color: #002564;
   font-weight: 400;
   font-size: 0.9rem;
   text-align: center;
}

.success_btns {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   max-width: 400px;
}
